/*	
TODO: Remmplazar el color rojo  #fa2053 por alguna
gama de azul o naranja para las personas con daltonismo
*/
body{
	display: flex;
	flex-flow: column nowrap;
	background-color: #808080;
	padding: 0;
	margin:0;
}
main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}
header{
	text-align: center;
	margin-bottom: 40px;
}
section{
	max-width: 60%;
	text-align: center;
	background-color: #fff;
	padding: 30px 70px 10px 70px;
}
input{
	border: 0px;
	box-sizing: border-box;
}
table{
	margin-bottom: 30px;
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #000;
}
td {
	padding: 4px 5px 4px 5px;
}
.bar{
	color: #fff;
	font-size:1.3em;
	padding:0.7em;
	background-color: #6c1d45;
	margin-bottom: 10px;
}
.guardar{
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#fff;
	position: fixed;
	bottom:0;
	background-color: #9e005c;
	padding:10px;
	border-radius: 16px;
	margin: 20px;
	right: 0;
}
.guardar svg{
	color: #fff;
	width: 50px;
}
.cabecera{
	display: inline-block;
}
.cabecera p{
	line-height: 0.5em;
}
.contenedor{
	width: 100%;
}
.contenedor input{
	border-bottom:2px solid #000;
}
.nb_cnt td{
	padding-bottom: 10px;
}
.nb_cnt input{
	width: 100%;
}
.ct_cnt p {
	display: inline-block;
	margin: 0px;
	width: 100%;
}
.ct_ma input{
	width:100%;
}
.ct_ma td{
	padding-bottom: 5px;
}
.ct_cnt td {
	padding-bottom: 10px;
}
.select_periodo td:not(:first-child){
	border: 2px solid #fa2053;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sel_ma input{
	text-align: center;
	font-size: 1.5em;
	width: 50%;
}
.cociente_inp{
	text-align: center;
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	font-size: 2em;
}
.tbl_creditos td{
	border: 2px solid #000;			
}
.esp_cnt{
	padding:5px;
}
.esp_chk{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:3px solid #fa2053;
	aspect-ratio: 1/1;
}
.tbl_ind{
	font-size: 0.9em;
}



.hoja input[type=text]{
	border:2px solid #fff;
	border-bottom: 2px solid #000;
}
.hoja input:placeholder-shown {
	border-radius: 10px;
	 border: 2px solid #fa2053;
}